<br>
<h1>The best movie reviews site!</h1>
<span>
    <!-- <img style="width: 50px; height: 50px;" src="../../assets/search.png"> -->
    <input class="movie-search input-blue-border"
        type="text" 
        placeholder="Search for your favorite movie"
        [(ngModel)]="userInputForMovieSearch"
        (keypress)="getMatchingMovies()"
    >
</span>
<div class="movie-list">
    <div class="movie-card color2" *ngFor="let movie of movieList; let i=index">
        <a (click)="cardClicked(i)">
        <div class="movie-card-content">
            <h3>{{movie.name}}</h3>
            <i><h4>Released: {{movie.releaseDate}}</h4></i>
            <h4 *ngIf="movie.averageRating != null">Rating: {{movie.averageRating}}/10</h4>
            <h4 *ngIf="movie.averageRating === null">Not rated yet.</h4>
        </div>
        </a>
        <span style="display: flex; align-content: center; justify-content: end;">
            <i class="edit" (click)="editMovie(i)"><img style="width: 50px; height: 50px;" src="../../assets/edit.png"></i>
            <i class="delete" (click)="deleteMovie(i)"> <img style="width: 50px; height: 50px;" src="../../assets/trash.png"></i>
        </span>
    </div>
</div>

